
input.time
{
    width: 3em;
    margin: 0px;
    padding: 0px;
    border: none;
    text-align: right;
}

.edit_buttons
{
    margin: 0.5em;
    clear:left;
}

/*
  Styling of the sidebar
*/

.anchor
{
    display: block;
    position:relative;
}

.sidebar
{
    display:none;
    position:absolute;
    left: 0px;
    top: 0px;
    background: white;
    border: 1px solid black;
    padding: 0px;
    z-index: 3;
    width: 40em;
}

.sidebar_content
{
    padding: 5px 15px;
}

.sidebar select
{
    width: 50%;
}

.notification
{
    width:45%;
    float:left;
}

/*
  Leave a few percents margin here. At least firefox sometimes makes text areas slightly larger than allowed (miscalculating scrollbar width?) so we kludge around it...
*/
.sidebar .description
{
    width: 45%;
}

/*
  Table formating to make stuff like a bit like a spreadsheet
*/
table.time td,
table.time th
{
    padding: 0px;
    margin: 0px;
}

table.time td
{
    border-right: 1px solid #aaa;
}
td, th
{
    border-bottom: 1px solid #aaa;
    padding-left: 5pt;
    padding-right: 5pt;
}

th
{
    background-color: #777;
    color: #fff;
    border-right: 1px solid white;
    text-align: left;
}

th:last-child
{
    border-right: none;
}

th.weekend
{
    color: #fcc;
}

th.weekend, th.weekday
{
    text-align:center;
}

.hour_sum {
    text-align: right;
    font-weight:bold;
}

table .error input.time
{
    background-color: #f55;
}

table .warning input.time
{
    background-color: #ff5;
}

table .modified input.time
{
    background-color: #bfb;
}

.end_week input
{
    background-color: #eee;
}

/*
  Styling of the main content pane
*/
.content
{
    width: 96%;
    margin-left: 2%;
}

/*
  Maybe move this to common css?
*/
button[disabled],
input[disabled]
{
    color:gray;
}

/*
  Just hide the action menu for now. Could be used on some pages in the future...
*/
.action_menu
{
    display:none;
}

tbody#time_body tr:hover,
tbody#time_body input:hover
{
    background: #bfbfff;
}

.add_line
{
    cursor: pointer;
/*    background: #eee;*/
}

body.dragging input.time
{
    cursor:move;
}

body.copying input.time
{
    cursor:copy;
}

body .dnd_drop{
   background: #bfbfff;
}