input.time
{
    width: 3em;
    margin: 0px;
    padding: 0px;
    border: none;
    text-align: right;
}

.edit_buttons
{
    margin: 0.5em;
    clear:left;
}

/*
  Styling of the sidebar
*/

.anchor
{
    display: block;
    position:relative;
}

.sidebar
{
    display:none;
    position:absolute;
    left: 0px;
    top: 0px;
    background: white;
    border: 1px solid black;
    padding: 0px;
    z-index: 3;
    width: 40em;
}

.sidebar_content
{
    padding: 5px 15px;
}

.sidebar select
{
    width: 50%;
}

.notification
{
    width:45%;
    float:left;
}

/*
  Leave a few percents margin here. At least firefox sometimes makes text areas slightly larger than allowed (miscalculating scrollbar width?) so we kludge around it...
*/
.sidebar .description
{
    width: 45%;
}

/*
  Table formating to make stuff like a bit like a spreadsheet
*/
table.time td,
table.time th
{
    padding: 0px;
    margin: 0px;
}

table.time td
{
    border-right: 1px solid #aaa;
}
td, th
{
    border-bottom: 1px solid #aaa;
    padding-left: 5pt;
    padding-right: 5pt;
}

th
{
    background-color: #777;
    color: #fff;
    border-right: 1px solid white;
    text-align: left;
    vertical-align: bottom;
}

th:last-child
{
    border-right: none;
}

th.weekend
{
    color: #fcc;
}

th.weekend, th.weekday
{
    text-align:center;
}

.hour_sum {
    text-align: right;
    font-weight:bold;
}

table .error input.time
{
    background-color: #f55;
}

table .warning input.time
{
    background-color: #ff5;
}

table .modified input.time
{
    background-color: #bfb;
}

.end_week input
{
    background-color: #eee;
}

/*
  Styling of the main content pane
*/
.content
{
    width: auto;
    min-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.content_inner
{
}

/*
  Maybe move this to common css?
*/
button[disabled],
input[disabled]
{
    color:gray;
}

/*
  Just hide the action menu for now. Could be used on some pages in the future...
*/
.action_menu
{
    display:none;
}

tbody#time_body tr:hover,
tbody#time_body input:hover
{
    background: #bfbfff;
}

.add_line
{
    cursor: pointer;
/*    background: #eee;*/
}

body.dragging input.time,
body.dragging
{
    cursor:move;
}

body.copying input.time,
body.copying
{
    cursor:copy;    
}

#dnd_text
{
    cursor: inherit;
}

body .dnd_drop
{
   background: #bfbfff;
}

.disabled
{
    color: grey;
}

.membership_col {
 height: 300px;
 overflow: hidden;
}

.membership_col div {
 -webkit-transform: rotate(-90deg); 
 -moz-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
 width: 1em;
 white-space: nowrap;
}

.name input {
  width: 300px;
}

ul.main_menu {
 background: #ffffff;
 margin-top: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 33px;
 padding-top: 7px;
 padding-left: 7px;
 padding-right: 7px;
 padding-bottom: 2px;
 border-bottom: 1px solid #000000;
}

ul.main_menu li {
 list-style-type: none;
 display: inline;
 margin-right: 4px;
 padding: 2px;

 background: #FFFFFF;
 border: 1px solid #000000;
}

ul.main_menu li a {
 color:#000000;
 text-decoration:none;
}

.copyright {
 position: absolute;
 right: 0;
 top: 0;
 width: auto;
 padding: 5px;
}

.report_item {
  max-width: 100%;
  overflow: auto;
}

.report_timetable {
 width: 100%;
}

.report_timetable * {
 white-space: nowrap;
 vertical-align: top;
 text-align: left;
}

.report_timetable .column_description {
 white-space: normal;
}

.report_timetable .column_hours {
 text-align: right;
}

.report_form_part {
 float: left;
 margin-top: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 padding: 10px;
 border: 2px solid #888888;
}

.report_form_part_header {
 background: #888888;
 color: #ffffff;
 margin-top: -10px;
 margin-left: -10px;
 margin-right: -10px;
 margin-bottom: 10px;
 height: 2em;
}
.report_form_part_header_left {
  float: left;
}
.report_form_part_header_right {
  float: right;
}
.report_form_part_header a {
 color: #ffffff;
 text-decoration: none;
}

.report_form_end {
 clear: both;
}

.report_manager {
 float: right;
}

@media print {
 .copyright,
 .main_menu,
 .content form {
  display: none;
 }
 .content {
  width: 100%;
  margin: 0;
 }
 .content_inner {
  border: none;
 }
 body {
  background-image: none;
 }
}
